* {
margin: 0;
padding: 0;
font-family: DreadnoughtusBold, helvetica, arial, sans-serif;
}

@font-face {
  font-family: dreadnoughtus;
  src: url(fonts/dreadnoughtus-black/webfonts/dreadnoughtus-black.css);
  font-weight: bold;
}

@font-face {
  font-family: dreadnoughtus;
  src: url(fonts/dreadnoughtus-bold/webfonts/dreadnoughtus-bold.css);
}

body{
  background-color: #121212;
  color: white;
  z-index: 1;
}

header{
  background: #121212;
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 20%;
  grid-template-rows:100%;
  top:0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  /* border: solid 2px red; */
}

.header-link {
  font-size: min(1.6vw, 1em);
}

nav {
  font-size: 1em;
  width: auto;
  font-weight: bold;
  /* display: flex;
  float: inherit;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;  */
  /* border: solid 2px red; */
}

.social {
  font-size: min(1.6vw, 1.5em);
  /* margin: auto; */
  height:auto;
  /* border: solid 2px red; */
}

a {
  text-decoration: none;
  color: #12121200;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: white;
  padding: 20px 20px;
}

a:hover{
  text-decoration: none;
  color: white;
  transition: .3s;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: white;
}

a:active{
  text-decoration: none;
  color: white;
  transition: .3s;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: white;
}

/* special link styling*/
.JB{
  /* margin-left: auto; */
}

a.JB{
  color: white;
  text-decoration: none;
  transition: .3s
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: white;
  /* border: solid 2px red; */
}

a.JB:hover{
  color: #4795ff;
  transition: .3s;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: #4795ff;
}

a.LIEN{
  padding:0;
  margin:0;
}

.title{
  margin-top: 6% auto;
  /* border: solid 2px red; */
}

.main{
  display: flex;
  height: auto;
  max-width: 1024px;
  width: 68%;
  margin: calc(100px + 2vw) auto;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: static;
  z-index: 1;
  /* border: solid 2px red; */
}

#shop-wrap {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  z-index: 1;
}

#video-wrap {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  z-index: 1;
}

#listen-wrap {
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  z-index: 1;
}

h1 {
  font-size: 29.12px;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-character;
  line-height: ;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  justify-content: justify;
}

h2 {
  font-size: 81px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

/* Rectangle 2 */
.shop{
  margin: 24px;
  background: #C4C4C4;
}

.listen{
  margin:20px;
  flex: row wrap;
  height: 466px;
  width:auto;
  background: #C4C4C4;
}

.vid{
  margin-bottom: 24px;
  background: #C4C4C4;
}

.skull {
  height: 402px;
  width: auto;
  align-items: center;
  flex-wrap: wrap;
}

.background {
  z-index: -1;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  right: 0;
  margin: auto;
}

#left{
  left: -5%;
  position: fixed;
  width: 500px;
  top: 17%;
  z-index: 1;
  transform: rotate(-10deg);
}

#top-right{
  left: 75%;
  position: fixed;
  width: 570px;
  top: -4%;
  z-index: 1;
  transform: rotate(3deg);
}

#bottom{
  left: 55%;
  position: fixed;
  width:400px;
  top: 80%;
  z-index: 1;
  transform: rotate(20deg);
}

footer{
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 2em;
  font-size: .7rem;
}

/* Media Queries*/
/*
@media (max-width: 320px) {
  .main{
    width:95%;
  }
}

@media (max-width: 1024px) {
  .main{
    width:1024px;
  }
}
*/
