*{
padding: 0;
margin: 0;
transition: .15s;
}

@font-face {
  font-family: 'VCR OSD Mono';
  font-style: normal;
  font-weight: normal;
  src: local('VCR OSD Mono'), url("fonts/vcr-osd-mono-cufonfonts-webfont/VCR_OSD_MONO_1.001[1].woff") format('woff');
}

body{
  margin: auto;
}

.thanks{
  margin: auto;
  margin: 20% 0;
  width: 100%;
  text-align: center;
  align-items: center;
  display:block;
}

.thanks button{
  margin-top: 32px;
}

h1{
  letter-spacing: -1.5px;
}

@media (max-width: 875px){
  .thanks{
    margin: 50% 0;
  }

  .thanks p{
    width: 100%;
  }

  footer{
    max-width: 99%
  }
}
